<div class="m-5 p-5 text-center bg-dark rounded-4">
  <% if @flats == [] %>
    <h1>No flats in "<%= @query.upcase %>"</h1>
    <h1><%= link_to root_path, class: "btn btn-primary btn-flat rounded-5" do %>
      <i class="fas fa-search text-white"></i> Search again
    <% end %></h1>
  <% elsif @query == "" %>
    <h1>All Flats</h1>
  <% else %>
    <h1>Flats in "<%= @query.upcase %>"</h1>
  <% end %>
</div>

<%= render "shared/flatspage", flats: @flats  %>
