<div class="flats-container">
  <% @flats.each_with_index do |flat| %>
    <div class="flat">
      <img src="https://picsum.photos/seed/picsum/200/300">
      <h2><%= flat.city %></h2>
      <p><%= flat.user.first_name %></p>
      <p><%= flat.price %></p>
    </div>
  <% end %>
</div>
