<footer class="bg-light py-5">
  <div class="container" style="height: 120px">
    <div class="row">
      <div class="col-md-4 mb-4 mb-md-0">
        <p>We are a team of passionate travelers who love to explore the world and help others make their travel dreams come true.</p>
        <div class="footer-links">
          <a href="#"><i class="fab fa-github mx-2"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
      <div class="col-md-4 mb-4 mb-md-0">
        <ul class="list-unstyled">
          <li><a href="#">Home</a></li>
          <li><a href="#">Flights</a></li>
          <li><a href="#">Hotels</a></li>
          <li><a href="#">Destinations</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <p class="mb-0">This footer is made with <i class="fas fa-heart"></i> at Le Wagon</p>
      </div>
    </div>
  </div>
</footer>
