<footer class="bg-light p-5">
  <div class="container" style="height: 100px">
    <div class="row">
      <div class="col-6 mb-2">
        <div class="mb-2">
          <ul class="list-unstyled list-inline mb-4">
            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item"><a href="#">Flights</a></li>
            <li class="list-inline-item"><a href="#">Hotels</a></li>
            <li class="list-inline-item"><a href="#">Destinations</a></li>
            <li class="list-inline-item"><a href="#">Blog</a></li>
          </ul>
        </div>
        <div class="">
          <p class="">This footer is made with <i class="fas fa-heart"></i> at Le Wagon</p>
        </div>

      </div>

      <div class="col-6 text-end">
        <p>We are a team of passionate travelers who love to explore the world and help others make their travel dreams come true.</p>
        <div class="footer-icons mb-2">
          <a href="#"><i class="fab fa-github me-3"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
