<div class="card">
  <h5 class="card-header">Airbnb</h5>
  <div class="card-body">
      <div class="footer-links">
        <a href="#"><i class="fab fa-github mx-2"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
    <h5 class="card-title">This footer is made with <i class="fas fa-heart"></i> at Le Wagon</h5>
    <a href="#" class="btn btn-primary rounded-5">Career</a>
  </div>
</div>
