<% if @flats == [] %>
  <div class="mt-5 p-4 text-black">
    <h1 class="text-black text-center">No listing yet...</h1>
    <br>
    <div class="text-center mb-5">
      <h1><%= link_to new_flat_path, class: "btn btn-primary btn-flat rounded-5" do %>
        <i class="fa-solid fa-plus"></i>  List a flat!
      <% end %></h1>
    </div>
  </div>
<% else %>
  <div class="mt-5 p-4 text-black">
    <h1 class="text-black text-center">My Listings</h1>
  </div>

  <div class="d-flex justify-content-center m-4">
    <%= render "shared/flatspage", flats: @flats  %>
  </div>
<% end %>
